node_modules
# Keep environment variables out of version control
.env

/generated/prisma

# Logs
*.log
server.err.log
server.log

# Lock files
package-lock.json

# Build
dist/

# Uploads (local development)
uploads/